<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>Bollywood Bechdel</title>
  </head>

<body>

<nav>
  <div class="container">
    <ul>
      <li>
        <a href="/results/list">Bechdel Gallery</a>
      </li>

      <% if @current_user == nil %>
      	<li class="active">
          <a href="/users/new">Create account</a>
        </li>

        <li class="active">
          <a href="/login`">Log in</a>
        </li>
      <% else %>
       	<li class="active">
       		<a href="/users/<%= @current_user.id %>/view">Profile</a>
       	</li>

       	<li>
       		<a href="/logout">Logout</a>
       	</li>
      <% end %>
    </ul>
  </div>
</nav>

<% if @error != nil %>
  <div class="container">
    <% @error.each do |error_message| %>
      <div role="alert">
        <button type="button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> <%= error_message %>
      </div>
    <% end %>
  </div>
<% end %>

<!-- The `yield` below is where the contents of a view file are put. -->
<!-- Then the combined layout + view is sent back to the client. -->
<%= yield %>

<div>
  <div class="container">
    <p>
      Find a Bollywood movie with <strong>strong</strong> female characters.
    </p>

    <form action="/movies/search" method="post">
      <select name="search_category">
        <option selected disabled>Choose category</option>
        <option value= "title">Title</option>
        <option value= "director">Director</option>
      </select>

      <input type="text" name="search" placeholder="search for a movie">

      <div>
        <label>
          <input type="checkbox" name="passes_bechdel" value="1">
          Passes Bechdel Test
        </label>
      </div>

      <div>
        <button>
          Search
        </button>
      </div>
    </form>
  </div>
</div>

</body>

</html>

